body{
  background:#fff;
  color:#000;
}

.card{
  background:#fff;
  border:1px solid #e5e5e5;
}

/* INPUT CLARO */
.input-box{
  position:relative;
  background:#fff;
  border:1px solid #000;
  border-radius:12px;
  padding:14px;
  margin-bottom:15px;
  display:flex;
  align-items:center;
}

.input-box input{
  width:100%;
  border:none;
  outline:none;
  color:#000;
  padding-right:35px;
}

/* OLHO */
.eye{
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  width:20px;
  height:20px;
}

.eye path{
  stroke:#777;
}

.eye.off path{
  stroke:red;
}

/* FOTO PERFIL */
.foto-perfil{
  position:relative;
  width:120px;
  height:120px;
  margin:0 auto 20px;
  border-radius:50%;
  overflow:hidden;
  background:#eee;
}

#fotoPreview{
  width:100%;
  height:100%;
  object-fit:cover;
}

.foto-perfil input,
.cnh-box input{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0;
}

/* CNH */
.cnh-box{
  position:relative;
  width:140px;
  height:90px;
  margin:10px auto;
  border-radius:10px;
  overflow:hidden;
  background:#eee;
  border:2px dashed #ccc;
}

.cnh-box img{
  width:100%;
  height:100%;
  object-fit:cover;
}
