/* =========================
TELA ESCOLHA
========================= */

body{
  background:#ffffff;
  color:#000;
}

/* CARD */
.card{
  background:#fff;
  border:1px solid #e5e5e5;
  text-align:center;
}

/* TÍTULO */
h1{
  margin-bottom:20px;
}

/* BOTÕES DE ESCOLHA */
.opcao{
  width:100%;
  padding:15px;
  margin-bottom:15px;
  border-radius:12px;
  border:1px solid #ccc;
  background:#fff;
  font-size:16px;
  cursor:pointer;
  transition:0.2s;
}

/* HOVER */
.opcao:hover{
  background:#FFD600;
  border-color:#FFD600;
}
