/* BASE GLOBAL */

html, body{
  margin:0;
  padding:0;
  width:100%;
  min-height:100vh;
  font-family:Arial;
}

/* CONTAINER */
.container{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  min-height:80vh;
  padding:15px;
}

/* CARD */
.card{
  width:100%;
  max-width:380px;
  margin:0 auto;
  border-radius:25px;
  padding:15px 20px 25px;
  min-height:85vh;
}

/* BOTÃO PADRÃO */
.btn{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:#FFD600;
  color:#000;
  font-size:17px;
  font-weight:bold;
}
